# /etc/systemd/system/temper-exporter.service
#  This file is part of systemd.
[Unit]
Description=Temper exporter
Documentation=https://github.com/linuxoid69/temper_exporter
After=network.target

[Service]
Environment="TO=0"
Environment="TF=1"
Environment="HF=1"
Environment="HO=0"
EnvironmentFile=-/etc/default/temper
ExecStart=/usr/bin/temper_exporter -tf ${TF} -to ${TO} -hf ${HF} -ho ${HO}
Type=simple
Restart=always
SyslogIdentifier=temper-exporter

[Install]
WantedBy=multi-user.target
